
.idea/.idea.codewars/.idea/workspace.xml
codewars/bin/Debug/net8.0/codewars.dll
codewars/bin/Debug/net8.0/codewars.pdb
codewars/obj/Debug/net8.0/codewars.AssemblyInfo.cs
codewars/obj/Debug/net8.0/codewars.AssemblyInfoInputs.cache
codewars/obj/Debug/net8.0/codewars.dll
codewars/obj/Debug/net8.0/codewars.pdb
codewars/obj/Debug/net8.0/codewars.sourcelink.json
codewars/obj/Debug/net8.0/ref/codewars.dll
codewars/obj/Debug/net8.0/refint/codewars.dll
